
.login {
  background-color: rgb(136, 101, 169);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
display: grid;
place-items: center;

}
.login-form {
width: 300px;
height: 300px;
border: solid 1px red;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}